{% extends 'base.html' %}
{% block content %}
    <main>
        <a href="{% url 'create_task' %}">Create</a>
        <div>
            <h1>{{ project.name }}</h1>
            <p>
                {{ project.description }}
            </p>
            <h2>Tasks</h2>
                <table>
                   <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                   </thead>
                  <tbody>
                    {% comment %} {% if task_list|length > 0 %} {% endcomment %}
                    {% for task in project.tasks.all %}
                     <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date|date }}</td>
                        <td>{{ task.due_date|date }}</td>
                        <td>{{ task.is_completed|yesno }}</td>
                     </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% comment %} {% else %}
                    <p>This project has no tasks</p>
                {% endif %} {% endcomment %}
        </div>
    </main>
{% endblock content %}
