{% extends "base.html" %}

{% block content %}

<main>
    <div>
        <h1>My Projects</h1>
        <a href="{% url 'create_project' %}">Create</a>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
            {% if project_list|length > 0 %}
                {% for project in project_list %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>You are not assigned to any projects</p>
             {% endif %}
            </tbody>
        </table>
   </div>
</main>


{% endblock content %}




{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'create_project' %}">Create</a></li>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
              <li><a href="{% url 'list_projects' %}">My projects</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Signup</a></li>
              {% endif %}
            </ul>
        </nav>
      </header>
    <main>
        <div>
            <h1>My Projects</h1>
             {% if project_list|length > 0 %}
                <table>
                    <thead>
                        <tr style="display:flex;gap:5px;">
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    {% for project in project.tasks.all|length %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
             {% else %}
                <p>You are not assigned to any projects</p>
             {% endif %}
        </div>
    </main>
</body>
</html> {% endcomment %}
